<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Calculator</title>
<link rel="stylesheet" href="main.css">
</head>
<body>
	<p th:text="${display}"></p>
	
	<form th:action="@{/}" method="post">
		<button type="submit" name="btn" value="0">0</button>
		<button type="submit" name="btn" value="1">1</button>
		<button type="submit" name="btn" value="2">2</button>
		<button type="submit" name="btn" value="3">3</butto>
		<button type="submit" name="btn" value="4">4</button>
		<button type="submit" name="btn" value="5">5</button>
		<button type="submit" name="btn" value="6">6</button>
		<button type="submit" name="btn" value="7">7</butto>
		<button type="submit" name="btn" value="8">8</butto>
		<button type="submit" name="btn" value="9">9</button>
		<button type="submit" name="sign" value="+">+</button>
		<button type="submit" name="sign" value="-">-</button>
	</form>
</body>
</html>