<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Calculator</title>
<link rel="stylesheet" href="main.css">
</head>
<body>
	<p th:text="${display}"></p>
	
	<form th:action="@{/}" method="post">
		<button type="num0">0</button>
		<button id="num1">1</butto>
		<button id="num2">2</button>
		<button id="num3">3</butto>
		<button id="num4">4</button>
		<button id="num5">5</button>
		<button id="num6">6</button>
		<button id="num7">7</butto>
		<button id="num8">8</butto>
		<button id="num9">9</button>
	</form>
</body>
</html>